{% extends "layout.html" %}

{% import "../includes/errormacros.html" as m with context %}

{% block content %}

<main id="content" role="main">
  <a class="link-back" href="../index">Back</a>

  <div class="grid-row">
    <div class="column-two-thirds">
      {{m.errors(errors)}}

      <h1 class="heading-large">These things will error</h1>
      <p>You&rsquo;ll get an error if fields are blank or the thing entered is wrong.</p>

      <form class="form" action="check-errors" method="post">

        {{m.govukTextInput('business-name', 'Organisation name', errors['business-name'].message, 'Maximum of 60 characters')}}

        {{m.govukTextInput('email', 'Email address', errors['email'].message)}}

        {{m.govukTextInput('account-number', 'Account number', errors['account-number'].message, 'Must be either 6 or 8 numbers long')}}

        {{m.govukTextInput('sort-code', 'Sort code',  errors['sort-code'].message, false, 'form-control-1-4')}}

        <div class="form-group">
          <input type="submit" class="button" value="Submit">
        </div>

      </form>

    </div>
  </div>
</main>

{% endblock %}
