{% extends "layout.html" %}

{% block page_title %}
  Confirmation page example
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

      <div class="govuk-box-highlight">
        <h1 class="heading-xlarge">
          Data saved
        </h1>
      </div>

      <div class="form-group-related">
        <a class="button" href="./" role="button">
          Back to data
        </a>
      </div>

      <p>
        or <a href="/">Back to main list</a>
      </p>

    </div>
  </div>

</main>

{% endblock %}
